################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/.editorconfig
.idea

/.vs/
/bracketsTest/.vs/
*/Debug
out/
/bracketsTest/packages/
*/x64/
/cmake-build-debug/
/bracketsTest/bracketsTest.sln
